.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 100px;
}

.navbar .navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-right button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid #db752b;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  top: -8px;
  right: -8px;
  border-radius: 5px;
  background-color: tomato;
  width: 15px;
  height: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 13px;
}

.navbar-right i {
  font-size: 20px;
  color: #49557e;
  cursor: pointer;
}

.navbarProfile{
  position: relative;
}

.navProfileDropdown{
  position: absolute;
  display: none;
  
}
@media screen and (max-width: 1050px) {
  .navbar .logo {
    width: 90px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media screen and (max-width: 900px) {
  .navbar .logo {
    width: 80px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
  }
}
